In [1]:
import pandas as pd
import os
pd.set_option('display.max_columns', None)

SEARCH_TERMS = ["cloud-architect"]
CSV_NAME = "SEEK_JOB_ADS"
DATA_DIR = "/".join(os.getcwd().split('/')[1:6]) + '/data'
DATA = pd.DataFrame(columns=['JOB_NAME','JOB_TEXT','URL','SALARY_LOW','SALARY_HIGH'])

In [2]:
for i in range(0, len(SEARCH_TERMS)):
    df = pd.read_csv(f"/{DATA_DIR}/{CSV_NAME}_{SEARCH_TERMS[i]}.csv")
    DATA = pd.concat([DATA, df])

DATA = DATA.apply(lambda x: x.astype(str).str.lower())

In [3]:
DATA.head()

,JOB_NAME,JOB_TEXT,URL,SALARY_LOW,SALARY_HIGH,Unnamed: 0
0,gm - architecture,xero is a beautiful easy to use platform that ...,https://www.seek.com.au//job/55239253?type=pro...,150000,999999,0.0
1,senior solution architect,about the business em does working on world le...,https://www.seek.com.au//job/55336951?type=pro...,150000,999999,0.0
2,lead cloud architect,an established international cloud consultancy...,https://www.seek.com.au//job/55301782?type=sta...,150000,999999,0.0
3,solution architect- infrastructure / cloud- ma...,a leading bank based in sydney is seeking an s...,https://www.seek.com.au//job/55315615?type=sta...,150000,999999,0.0
4,azure cloud architect | iac,azure cloud architect iac amp cicd 150 180k su...,https://www.seek.com.au//job/55293215?type=sta...,150000,999999,0.0

In [4]:
# Find the job add with a certain key word
KEY_WORD = "years"
DATA[DATA["JOB_TEXT"].str.contains(KEY_WORD)]['URL']

1     https://www.seek.com.au//job/55336951?type=pro...
3     https://www.seek.com.au//job/55315615?type=sta...
5     https://www.seek.com.au//job/55358914?type=sta...
6     https://www.seek.com.au//job/55336235?type=sta...
8     https://www.seek.com.au//job/55336951?type=sta...
9     https://www.seek.com.au//job/55312737?type=sta...
10    https://www.seek.com.au//job/55256136?type=sta...
13    https://www.seek.com.au//job/55219405?type=sta...
15    https://www.seek.com.au//job/55298366?type=sta...
16    https://www.seek.com.au//job/55360114?type=sta...
18    https://www.seek.com.au//job/55342032?type=sta...
19    https://www.seek.com.au//job/55276474?type=sta...
20    https://www.seek.com.au//job/55315366?type=sta...
Name: URL, dtype: object